<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="qlslConnect" connectionString="Data Source= 103.252.252.189 ;Initial Catalog= qrcode; User ID = sa ; Password = MGsSyu5qSkG3 " providerName="System.Data.SqlClient " xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!-- API -->
    <add key="apiUrl" value="https://sandbox2.nganluong.vn/vietcombank-checkout/vcb/api/web/checkout/version_1_0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cancelApiUrl" value="https://sandbox2.nganluong.vn/vietcombank-checkout/vcb/api/web/cancel-payment/index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="merchantSiteCode" value="7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="currency" value="VND" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="buyerFullname" value="NGUYEN VAN A" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="buyerEmail" value="vinhhht@terminalclgn.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="buyerMobile" value="0909027289" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="buyerAddress" value="4B/1 KP3, phuong Trung My Tay, TP.HCM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="returnUrl" value="Payment/Return" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cancelUrl" value="Payment/Cancel" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="notifyUrl" value="Payment/Callback" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="language" value="vi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="version" value="2.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="paymentMethodCode" value="QRCODE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="bankCode" value="NGANLUONG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="merchantPasscode" value="123456789" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webUrl" value="http://103.252.252.189/Payment/Callback" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
